/*-----Atenção a tabela de cores meus consagrados-----
-- background do body - background-color: rgb(26, 25, 25); 
-- background da segunda tabela - background-color: #363636;
-- cor de texto - color: white;
-- background dos icones - background: #00a336;
-- background dos artigos - background: gray;
*/

@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
	0% { opacity: 0;}
	100% { opacity: 1; }
}
@-o-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.fadeIn {
	-webkit-animation: fadeIn 0.68s ease-in-out;
	-moz-animation: fadeIn 0.68s ease-in-out;
	-o-animation: fadeIn 0.68s ease-in-out;
	animation: fadeIn 0.68s ease-in-out;
}


* {
	padding: 0;
    margin: 0;
    background-color: rgb(26, 25, 25);
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

h1 {
    color: rgb(255, 255, 255);
}

p {
	padding-left: 2%;
	padding-right: 2%;
	color: rgb(180, 180, 180);
}

h3 {
	color: white;
}

h2 {
	color: white;
	padding: 2%;
}

.pesquisa {
    border-radius: 20%;
}

body {
	font-family: montserrat;
}

/*_____________navbar_____________________________*/
nav {
	background: #222222;
	height: 100px;
	width: 100%;
}
nav img{
	top: 1%;
}
label.logo {
	background-color: #222222;
	line-height: 80px;
	padding: 0 100px;
	cursor: pointer;
}

nav ul {
	float: right;
	top: 0;
	z-index: 1;
}
nav ul li {
	background-color: #222222;
	display: inline-block;
	line-height: 10px;
	margin: 90px 0;
}
nav ul li a {
	background-color: #222222;
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}
a.active, a:hover {
	background: #00a336;
	transition: .5s;
}
.checkbtn {
	font-size: 40px;
	color: white;
	float: right;
	line-height: 90px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
	z-index: 2;
}
#check {
	display: none;
}
@media all{
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}

/*_______Adaptação_Mobile___________*/

@media all{
	.checkbtn {
		background-color: #222222;
		display: block;
	}
	ul{
		padding-top: 10px;
		background-color: #222222;
		position: fixed;
		width: 22.5rem;
		height: 110vh;
		background:  #017e2b;
		right: -100%;
		text-align: center;
		transition: all .5s;
	}

    .checkbtn ul {
		background-color: #222222;
		display: block;
	}

	nav ul li{
		background-color: #222222;
		display: block;
		margin-top: 100px;
		float: center;
	}
	nav ul li a {
		background-color: #222222;
		font-size: 20px;
	}
	a:hover, a.active {
		background-color: #222222;
		color:  #00a336;
	}
	#check:checked ~ ul {
		background-color: #222222;
		right: 0;
	}
}

.perfil-img-nav{
	display: flex;
	justify-content: center;
	float: top;
	margin-left: 3%;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 2px solid #00a336;
	
}



.perfil-img-nave{
	display: flex;
	justify-content: center;
	float: top;
}

@media (max-width: 1030px) {
	.perfil-img-nav{
		display: none;
	}
	
	.perfil-img-nave{
		display: none;
	}
	
	.nav ul li{
		background-color: #222222;
		display: block;
		margin-top: 90px;
		line-height: 7px;
		float: center;
	}
}


/*___________________________________________*/

/*____Formatando_o_Banner______*/
.ban-body {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

#slider {
    width: 100%;
    height: 30vw;

    position: relative;
}

#slider img{
    opacity: 0;

    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: opacity 3000ms;
}

#slider img.selected { 
    opacity: 4;
    width: 100%;
}
/*_________Cursos___________*/
.section-header:nth-child(1){
	grid-column: 8;
}

.section-header h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3rem;
	border-bottom: 3px solid #017e2b;
	color: rgb(209, 209, 209);
	padding-bottom: 1rem;
	padding-top: 3rem;
	text-align: center;
}

.curso-header {
	display: flex;
	align-items: center;
	font-size: 1rem;
	color: #fff;
}

.curso-header i{
	font-size: 3rem;
}

.curso-header h3{
	padding-left: 1rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.curso-text {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-top: 1rem;
	padding-bottom: 2rem;
	color: rgb(170, 170, 170)
}

.sessao-cursos {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	row-gap: 4rem;
}

.cursos:nth-child(2) {
	grid-column: 3 / 7;
}
.cursos:nth-child(3) {
	grid-column: 11 / 15;

}
.cursos:nth-child(4) {
	grid-column: 7 / 11;

}

/*____________Cursos_Mobile________________*/

@media (max-width: 1023px) {
	.sessao-cursos {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		row-gap: 9rem;
	}
	.section-header:nth-child(1){
		grid-column: 4;
	}
	.cursos:nth-child(2) {
		grid-column: 4 / 6;
	}
	.cursos:nth-child(3) {
		grid-column: 4 / 6;
	
	}
	.cursos:nth-child(4) {
		grid-column: 4 / 6;
	}
	.curso-header {
		display: inline;
		align-items: center;
		font-size: 1rem;
		color: #fff;
	}
	.curso {
		align-items: center;
        display: flex;
        justify-content: center;
	}

	.curso-header h3{
		padding-left: 0px;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}
	.curso-header i {
		display: flex;
		justify-content: center;
		text-align: center;
		font-size: 6rem;
	}
}

/*___________Artigos______________*/


.sessao-artigos {
	padding-top: 5%;
	padding-bottom: 4%;
	background-color: #00a336;

}

.section-header2 h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3rem;
    background-color: #00a336;
	padding-bottom: 1rem;
	padding-top: 3rem;
	color: #fff;
	text-align: center;
	margin: auto;
	
}

.artigos-header i{
	font-size: 3rem;
	color: #fff;
	text-align: left;
}

.artigos-header h2{
	font-size: 2rem;
	color: #fff;
}

.espaço-artigos {
	background-color: #00a336;
	padding: 4%;
	padding-bottom: 4%;
	position: flex;
	min-height: 120%;
}

.area-artigos {
	justify-content: space-evenly;
	display: flex;
	flex-direction: row;	
	background-color: #00a336;
}

.espaço-artigos body {
	background-color: #00a336;
}

/*_______Artigos_Mobile__________*/

@media (max-width: 1030px) {
	.card {
		margin-bottom: 3rem;
		transition-duration: 0.4s;
	}
	.area-artigos {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		background-color: #00a336;
	}
	.espaço-artigos {
		background-color: #00a336;
		padding: 3%;
		min-height: 100%;
		display: flex;
		justify-content: center;
	}
}


/*_________Artigos_page_background__________*/

.art{ 
	background: #363636;
	border-radius: 10px;
}

.art p {
	padding-left: 2%;
	padding-right: 2%;
	color: white;
	background: #363636;
}

.art h1{
	background: #363636;
	border-radius: 10px;
	/*margin: 2%;*/
}



.art h2 h3 h5 h6 {
	color: #d6d6d6;
	padding-left: 2%; 
	padding-top: 2%; 
	background: #363636;
}

.art h3 {
	color: #fff;
	padding-right: 2%;
	float: right;
}

.art h5 {
	color: #d6d6d6; 
	padding-right: 4%; 
	padding-top: 1%;
	padding-left: 2%;
}

.art h4 {
	color: #d6d6d6; 
	padding-right: 4%; 
	padding-top: 1%;
	padding-left: 2%;
	background: #363636;
	float: left;
	font-size: 2rem;
}

.art img {
	background-color: #363636;
	border-radius: 50%;
	padding: 1%;
	width: 90px;
	float: left;
}

@media (max-width: 1030px) {
	.art img {
		background-color: #363636;
		border-radius: 50%;
		padding: 1%;
		width: 60px;
		float: left;
	}
}


.lineBreak {
    border: 1px solid #f0f0f0;
	display: inline-block;
	margin: 2%;
	width: 95%;

}

/*___________Post_de_Artigos______________*/

.posta {
	background-color: #00a336; 
	text-align: center;
	padding: 2%;
}

.pe {
	padding-left: 2%;
	padding-right: 2%;
	color: white;
	font-size: 150%;
}

.img-arte {
	width: 100%;
    height: 100%;
	overflow: hidden;
	border-radius: 0%;
	margin-bottom: 0px;
}

/*___________Fórum______________*/

.al-forum{
	padding: 5%;
}

.forum-header{
	display: flex;
	justify-content: center;
	text-align: center;
	color: #fff;
	font-size: 3rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-bottom: 4rem;
	border-bottom: 2px solid #00a336;
}

.pergunta-header {
	display: flex;
	align-items: center;
	color: #fff;
	padding-bottom: 1%;
}

.pergunta-titulo{
	padding-bottom: 1.5%;
	font-size: 1.5rem;
	color: #fff;
}

.pergunta-txt{
	padding-bottom: 2%;
}

.banana{
	display: flex;
	justify-content: right;
	float: left;
	padding-top: 1.7%;
	padding-left: 4%;
}

.resposta-btn {
	padding-bottom: 5px;
	padding: 1.5%;
    padding-right: 20rem;
	font-size: 1rem;
	border: 1px solid #00a336;
	border-radius: 50px;
	color: #fff;
	background-color:rgb(42, 42, 42);
	margin-left: 7%;
}

.enviar{
	height: 100%;
	width: 3.5rem;
	margin-left: 3%;
	border: 0px;
	color: #fff;
	padding: 1.5%;
	margin-top: 13px;
	border-radius: 50px;
	background-color: #00a336;
	text-align: center;
}

.resposta{
	padding: 5%;
	padding-bottom: 2%;
	border-left: 7px solid #00a336;
	border-bottom: 5px solid #00a336;
}

.resposta-titulo {
	padding-bottom: 1.5%;
	font-size: 1.5rem;
	color: #fff;
}

.resposta-header {
	padding-top: 5%;
	display: flex;
	align-items: center;
	color: #fff;
	padding-bottom: 1.5%;
}

.perfil-img{
	display: flex;
	justify-content: left;
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 2px solid #00a336;
	
}

.pergunta-nome {
	font-size: 2rem;
	padding-left: 2%;
}

/*_______Fórum_Mobile_________*/

@media (max-width: 1030px) {

    .pergunta{
		width: 100%;
	}

	.al-forum{
		padding-right: 4%;
		padding-left: 4%;
		padding-bottom: 4%;
		padding-top: 0px;
		max-width: 1030px;
	}
	
	.forum-header{
		display: flex;
		justify-content: center;
		text-align: center;
		color: #fff;
		font-size: 3rem;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		margin-bottom: 4rem;
		margin-left: 42%;
		margin-right: 42%;
		border-bottom: 2px solid #00a336;
	}
	
	.pergunta-header {
		display: flex;
		align-items: center;
		color: #fff;
		padding-bottom: 1.5%;
	}
	
	.pergunta-titulo{
		padding-bottom: 1.5%;
		font-size: 1.5rem;
		color: #fff;
	}
	
	.pergunta-txt{
		padding-bottom: 2%;
	}
	
	.banana{
		display: flex;
		justify-content: right;
		float: left;
		padding-top: 1.7%;
		padding-bottom: 1.7%;
	}
	
	.resposta-btn {
		padding: 1%;
		padding-bottom: 5px;
		border: 1px solid #00a336;
		border-radius: 50px;
		color: #fff;
		background-color:rgb(42, 42, 42);
		margin-left: 7%;
	}
	
	.enviar{
		height: 1.5rem;
		width: 3.5rem;
		margin-left: 3%;
		border: 0px;
		color: #fff;
		padding: 1.5%;
		margin-top: 7.5px;
		border-radius: 50px;
		background-color: #00a336;
		text-align: center;
	}
	
	.resposta{
		margin-top: 4.5%;
		justify-content: center;
		flex-direction: column;
		padding: 5%;
		padding-bottom: 0;
		border-left: 7px solid #00a336;
		border-bottom: 5px solid #00a336;
	}
	
	.resposta-titulo {
		padding-bottom: 1.3%;
		font-size: 1.3rem;
		color: #fff;
	}
	
	.resposta-header {
		left: 2px;
		padding-top: 2%;
		align-content: center;
		color: #fff;
	}
	
	.perfil-img{
		display: flex;
		justify-content: left;
		float: left;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 2px solid #00a336;
		
	}
	
	.pergunta-nome {
		font-size: 2rem;
		padding-left: 2%;
	}
}

/*____________Pagina__Forum_________________*/

.al-forum-f {
	padding: 5%;
}

.forum-header-f{
	background-color: rgb(26, 25, 25);
	display: flex;
	justify-content: center;
	text-align: center;
	color: #fff;
	font-size: 3rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-bottom: 4rem;
	margin-left: 42%;
	margin-right: 42%;
	border-bottom: 2px solid #00a336;
}

.forum-header-fi{
	background-color: rgb(26, 25, 25);
	display: flex;
	justify-content: center;
	text-align: center;
	color: #fff;
	font-size: 3rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-bottom: 4rem;
	margin-left: 30%;
	margin-right: 30%;
	border-bottom: 2px solid #00a336;
}

.pergunta-forum{
	padding: 2%;
	background-color: #363636;
	border-radius: 10px;
	border-bottom-right-radius: 0px;
}

.pergunta-header-forum {
	max-width: 1153px;
	background-color: #363636;
	display: flex;
	align-items: center;
	color: #fff;
	padding-bottom: 1.5%;
}

.pergunta-nome-forum{
	background-color: #363636;
}

.pergunta-titulo-forum{
	background-color: #363636;
	text-align: left;
	display: flex;
	padding-bottom: 1%;
	font-size: 1.5rem;
	color: #fff;
}

.pergunta-txt-forum {
	background-color: #363636;
	padding-bottom: 1.5%;
}

.pergunta-txt-forum h3{
	background-color: #363636;
	padding-left: 2%;
}

.banana-forum{
	background-color: #363636;
	display: flex;
	justify-content: right;
	float: right;
	padding-top: 1.7%;
	padding-bottom: 1.7%;
	padding-left: 5%;
	margin-left: 2% rgb(26, 25, 25);
}

.resposta-btn-forum {
	padding: 4%;
	border: 1px solid #00a336;
	border-radius: 50px;
	color: #fff;
	background-color:rgb(42, 42, 42);
	margin-left: 15% rgb(42, 42, 42);
	display: flex;
	justify-content: right;
	float: right;
}

.enviar-forum{
	background-color: #363636;
	margin-left: 3%;
	border: 0px;
	color: #fff;
	padding: 1.5%;
	border-radius: 50px;
	background-color: #00a336;
}

.resposta-forum{
	margin-left: 2%;
	background-color: #363636;
	margin-top: 4.5% #363636;
	justify-content: center;
	flex-direction: column;
	padding: 5%;
	padding-bottom: 5%;
	border-left: 7px solid #00a336;
	border-bottom: 5px solid #00a336;
}

@media (max-width: 1030px) {
	.resposta-forum{
		margin-left: 2%;
		background-color: #363636;
		margin-top: 4.5% #363636;
		justify-content: center;
		flex-direction: column;
		padding: 5%;
		padding-bottom: 10%;
		border-left: 7px solid #00a336;
		border-bottom: 5px solid #00a336;
	}
	
}

.resposta-titulo-forum ,p{
	font-size: 1.3rem;
	color: #fff;
	width: 100%;
}

.resposta-header-forum {
	background-color: #363636;
	left: 2px;
	padding-top: 2% #363636;
	display: flex;
	align-content: center;
	color: #fff;
}

.perfil-img-forum{
	display: flex;
	justify-content: left;
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid #00a336;
	
}

.pergunta-nome-forum {
	font-size: 2rem;
	padding-left: 2%;
	display: flex;
	justify-content: center;
}

.btn-res {
	text-align: bottom;
	display: flex;
	justify-content: baseline;
}

.banana-uva {
	display: flex;
	justify-content: right;
	float: right;
	padding-bottom: 1.7%;
	padding-left: 5%;
	padding-right: 5%;
	width: 100%;
}

.banana-f{
	display: flex;
	align-items: center;
	justify-content: right;
	float: right;
	padding-bottom: 1.7%;
	padding-right: 10%;
	width: 100%;
	height: 3rem;
	cursor: pointer;
}

.banana-f input { 
	margin-top: 2%;
	margin-bottom: 2%;
	padding-top: 0.4rem;
	padding-bottom: 0.5rem;
	padding-left: 0.75rem;
}

.enviar-banana-f {
	text-align: center;
	height: 100%;
	width: 3.5rem;
	margin-left: 3%;
	border: 0px;
	color: #fff;
	padding: 1.5%;
	margin-top: 13px;
	border-radius: 50px;
	background-color: #00a336;
	padding-top: 0.4rem;
	padding-left: 0.75rem;
}
/* 
@media (min-width: 1025px) {
	
} */

/*_______botão__________*/


/*___________Sobre___________*/
.sob {
	background-color: rgb(26, 25, 25);
}

.sob div {
	background-color: rgb(26, 25, 25);
}

.pagina {
	height: auto;
	width: auto;
}

.area-sobre {
	width: auto;
	min-height: 20px;
	padding: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.space {
	height: 30px;
	width: 2%;
}

.sobre-site {
	min-height: 20px;
	display: flex;
	align-items: center;
	font-size: 145%;
}

.sobre-biografia {
	padding-top: 4%;
	flex-direction: row	;
	justify-content: center;
	display: flex;
	min-height: 20px;
	width: 80%;
}

.biografia-img {
	object-fit: cover;

	width: 17%;
	height: 17%;
	padding: 0%;
	border: 2px solid #00501b;
	border-radius: 50%;
}

.biografia-box{
	width: min-content;
	display: flex;
	flex-direction: column;
}

.biografia-header {
	display: flex;
	flex-direction: row;
	width: auto;
	height: 27%;
}

.biografia-nome {
	display: flex;
	width: 70%;
}

.biografia-links {
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-around;
	display: flex;
	width: 30%;
	height: auto;
}

.biografia-links div {
	width: 14%;
	height: 100%;
}

.biografia-links img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.biografia-texto {
	flex-direction: column;
	text-align: left;
	display: flex;
	width: 57em;
	height: min-content;
	font-size: 115%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-top: 2px solid #00501b;
	border-bottom: 2px solid #00501b;
	border-radius: 0%;
}
/* ________Biografia-Mobile__________ */
@media (max-width: 1024px){

	.space {
		height: 0px;
	}
	
	.sobre-biografia {
		padding-top: 20px;
		flex-direction: column;
		justify-content: center;
		display: flex;
	}

	.biografia-img {
		object-fit: cover;

		width: 50%;
		height: 50%;
		padding: 0%;
		border: 2px solid #00501b;
		border-radius: 50%;
		margin-left: 25%;
	}

	.biografia-box{
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.biografia-header {
		padding-top: 2%;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
	}

	.biografia-nome {
		display: flex;
		width: auto;
	}

	.biografia-links {
		flex-direction: row-reverse;
		align-items: center;
		display: flex;
		width: 50%;
		padding-top: 4%;
		padding-bottom: 4%;
	}

	.biografia-links div {
		width: 14%;
		height: 100%;
	}

	.biografia-links img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	.biografia-texto {
		flex-direction: column;
		text-align: left;
		display: flex;
		width: 100%;
		height: min-content;
		font-size: 140%;
		padding-top: 1%;
		padding-bottom: 1%;
		border-top: 2px solid #00501b;
		border-bottom: 2px solid #00501b;
	}
}

/* ____User___ */

.user-header {
	height: auto;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.user-perfil {
	height: auto;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.user-header-header {
	height: auto;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.user-img img {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
	width: 150px;
    border-radius: 50%;
	z-index: 1;
	margin-top: -75px;
	object-fit: cover;
}

.user-background {
	object-fit: cover;
	display: flex;
	align-items: center;
	height: 400px;
	width: 100%;
	overflow: hidden;
}

.user-background img {
	width: 100%;
}

.name-user {
	height: auto;
	width: 50%;
	text-align: center;
}

.user-bio {
	padding-bottom: 10%;
	padding-top: 1%;
	padding-left: 20%;
	padding-right: 20%;
	text-align: center;
	height: auto;
	color: white;
	font-size: 1.2rem;
}

.user-atividade {
	height: auto;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.user-artigos {
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 3%;
	height: auto;
	width: 94%;
}

.user-artigos-header {
	height: auto;
	width: 100%;
	justify-content: center;
	text-align: center;
}


.user-artigos-header h2 {
	padding-top: 1%;
	padding-bottom: 1%;
	border-bottom: 3px solid #00501b;
	width: 40%;
	margin-left: 30%;
}

.user-artigos-content {
	height: auto;
	width: 100%;
	padding: 1.75%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
}

.user-artigos-container {
	width: 18rem;
	height: auto;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.user-perguntas {
	margin-left: 3%;
	margin-right: 3%;
	height: auto;
	width: 94%;
}

.user-perguntas-header {
	height: auto;
	width: 100%;
	text-align: center;
	background-color: #00a336;
}

.user-perguntas-header h2 {
	background-color: #00a336;
	padding-top: 1%;
	padding-bottom: 1%;
}

.user-perguntas-content {
	height: auto;
	width: 100%;
	padding: 1%;
}

.user-perguntas-container {
	width: auto;
	height: max-content;
	margin-top: 1rem;
	margin-bottom: 4rem;
}

.user-perguntas-container .banana {
	padding-top: 0%;
}

.user-perguntas-container .space {
	height: max-content;
	width: 100%;
}

/* ____ User Mobile ____ */

@media (max-width: 1024px) {

	

}

/*__________Criar_Novo_Artigo_______________*/

.novo-artigo{
	background-color: rgb(26, 25, 25);
}

.novo-artigo-titulo h1 {
	font-size: 3rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: rgb(26, 25, 25);
}

.banana-fo{
	display: flex;
	justify-content: left;
	float: right;
	padding-bottom: 1.7%;
	width: 100%;
}

.img-preview {
	border-radius: 0%;
	padding: 4%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.resposta-btn {
	border: 1px solid #00a336;
	border-radius: 50px;
	color: #fff;
	background-color:rgb(42, 42, 42);
	margin-top: 2%;
	margin-bottom: 4%;
	margin-left: 0%;
}

.banana-morango{
	display: flex;
	justify-content: left;
	float: right;
	padding-bottom: 1.7%;
	width: 100%;
}

.resposta-btn-txt {
	padding: 2%;
	border: 1px solid #00a336;
	border-radius: 50px;
	color: #fff;
	background-color:rgb(42, 42, 42);
	margin-top: 2%;
	margin-bottom: 4%;
	margin-left: 0%;
	width: 100%;
	height: 10%;
}

.novo-artigo-input {
	padding-top: 2%;
	padding-bottom: 2%;
}

textarea {
	width: 90%;
    letter-spacing: 1px;
}
textarea {
	padding: 5px;
	font-size: 1.2rem;
    line-height: 1.5;
	border-radius: 30px;
	color: #fff;
    border: 1px solid #00a336;
	box-shadow: 1px 1px 1px #00a336;
	background-color: rgb(42, 42, 42);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
    display: block;
    margin-bottom: 5px;
}


.card:hover
{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.section-header2{
	border-bottom: auto;
}


/*____footer_____*/
.footer {
	background: #00a336;
	height: 4rem; 	
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	padding-top: 1%;
}

.footer a {
	background-color: transparent;
	color: rgb(255, 255, 255);
	padding-left: 1%;
	padding-right: 1%;
}

.arts{ 
	background: #363636;
	border-radius: 10px;
}

.arts p {
	padding-left: 2%;
	padding-right: 2%;
	color: white;
	background: #363636;
}

.arts h1{
	border-radius: 10px;
	/*margin: 2%;*/
}

.arts h2 h3 h5 h6 {
	color: #d6d6d6;
	padding-left: 2%; 
	padding-top: 2%; 
	background: #363636;
}

.arts h5 {
	color: #d6d6d6; 
	padding-right: 4%; 
	padding-top: 1%;
	padding-left: 2%;
}

.arts h4 {
	color: #d6d6d6; 
	padding-right: 4%; 
	padding-top: 1%;
	padding-left: 2%;
	background: #363636;
	float: left;
	font-size: 1.5rem;
}

.arts img {
	background-color: #363636;
	width: 800px;
	float: left;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
	font-size: 1.5rem;
	border: 1px solid #00a336;
	background-color: #00a336;
	border-radius: 10pc;
    display: inline-block;
	padding: 5px 12px;
	text-align: center;
	cursor: pointer;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #fff;
}
.banana-laranja{
	text-align: center;
}

/*____footer_Mobile_____*/
@media (max-width: 1024px){
    .footer {
		background: #222222;
		height: 4rem;
		width: 100%;
		text-align: center;
		font-size: 1rem;
		padding-top: 1%;
	}
	
	.footer a {
		background-color: #222222;
		color: rgb(200, 243, 204);
		padding-left: 1%;
		padding-right: 1%;
	}	
}


.btn-botstrap {
	background-color: #00a336;
}