{% extends 'home.html' %} {% block title %} Sobre {% endblock title %} 
{% block content %}
<header>
  <!-- Banner com animação -->
  <div id="slider" class="ban">
    <img class="selected" src="../../static/bn2.jpg" alt="Image1" />
    <img src="../../static/bn4.jpg" alt="Image2" />
    <img src="../../static/bn3.jpg" alt="Image3" />
    <img src="../../static/cabecalho.jpg" alt="Image4" />
  </div>
  >
</header>
<!-- pagina -->
<div class="sob">
  <div class="pagina">
    <h1 style="padding-top: 4%; text-align: center">
      <p
        style="
          font-size: 2.5rem;
          padding-top: 2%;
          padding-bottom: 2%;
          background-color: #242847;
        "
      >
        Sobre
      </p>
    </h1>
    <div class="area-sobre">
      <div class="space"></div>
      <div class="sobre-site">
        <p>
          O site é uma iniciativa de um projeto para o mundo de TI, onde a ideia central
          seria um blog de TI, onde haverá artigos sobre cursos, tutoriais, e futuramente
          haverá um fórum, para debates e duvidas sobre os conteudos abrangidos no site.
           O principal tema abordado pelos administradores seria programação, sendo assim
           especificando onde fazer cursos, artigos sobre as linguagens e auxiliando no fórum.
           As principais linguagens abordadas seriam, PYthon 3.9, HTML 5, CSS, Django, MySQLite  
           JavaScript e PHP.
            Caso  alguém queira postar um artigo deverá se cadastrar primeiro, caso contrario 
            terá permissão apenas para ler os artigos postados. 
             A principal linguagem usada para formar o site é Python, com sua
             biblioteca mais popular Django. 
        </p>
      </div>
      <!-- Biografias -->
      <div class="space"></div>
      <div class="sobre-biografia">
        <img class="biografia-img" src="../../static/joao.jpg" alt="gato" />
        <div class="biografia-box">
          <div class="biografia-header">
            <div class="biografia-nome">
              <h1 style="margin-left: 4%; color: white">João Vitor Waldrich</h1>
            </div>
            <div class="biografia-links">
              <div>
                <a style="color:white"href="https://github.com/jvwaldrich0">
                  <ion-icon style="color: white;width:48px; height:48px" name="logo-github"></ion-icon></a>
              </div>
              
              <div>
                <a href="https://www.linkedin.com/in/jvwaldrich0">
                  <ion-icon style="color: lightblue;width:48px; height:48px" name="logo-linkedin"></ion-icon></a>
              </div>
              <div>
                 <a href="https://media-exp1.licdn.com/dms/document/C4E2DAQFHZ6JqPQeIRQ/profile-treasury-document-pdf-analyzed/0/1608140448735?e=1613653200&v=beta&t=iavKIDs83KmSRDkImLttpxFC5yEGPx6PYHdZct-8hmU"
                  ><ion-icon style="color: white;width:48px; height:48px" name="document-attach-outline"></ion-icon></a>
              </div>
<div></div>
            </div>
          </div>
          <div style="height: 3%"></div>
          <div class="biografia-texto">
            <p>
              João Vitor Waldrich é apaixonado por tecnologia, video-games e café. Desde que iniciou sua trajetória profissional no Instituto Federal de Santa Catarina (IFSC), notou que sua vocação era programar. Motivado pelo entusiamo com o mundo da programação ele está sempre buscando mais conhecimentos para aperfeiçoar seus projetos e com Cyberzone não foi diferente, onde atuou como líder, desenvolvedor Back-end e Front-end.
            </p>
          </div>
        </div>
      </div>
      <div class="sobre-biografia">
        <img class="biografia-img" src="../../static/testebio.jpg" alt="gato" />
        <div class="biografia-box">
          <div class="biografia-header">
            <div class="biografia-nome">
              <h1 style="margin-left: 4%; color: white">Maria Vitória Machado</h1>
            </div>
            <div class="biografia-links">
              <div>
               <a style="color:white"href="">
                  <ion-icon style="color: white;width:48px; height:48px" name="logo-github"></ion-icon></a>
              </div>
              <div>
                <a href=""
                  ><ion-icon style="color: white;width:48px; height:48px" name="logo-facebook"></ion-icon></a>
              </div>
<div>
                 <a href=""
                  ><ion-icon style="color: white;width:48px; height:48px" name="document-attach-outline"></ion-icon></a>
              </div>
              <div>
              </div>
              <div>
              </div>
            </div>
          </div>
          <div style="height: 3%"></div>
          <div class="biografia-texto">
            <p>
              &nbsp;&nbsp;Vitória é a gestora do frontend, onde é encarregada de
              administrar os demais contribuidores e criar o Design das páginas.
            </p>
            <p>
              &nbsp;&nbsp;Especializada tem experiência em Atendimento ao
              cliente e gestão, entre outras distinções do campo. A equipe Cyber
              Zone ajuda estudantes de TI e solucionar Duvidas de software e
              hardware para garantir que todos tenham oportunidade de aprender a
              programar tanto para jovens quanto para adultos.
            </p>
            <p>
              &nbsp;&nbsp;Vitória é uma amante de cafés e gatos, caso queira
              entrar em contato mande um e-mail para vitmachadov@gmail.com ou
              mande uma mensagem no Facebook.
            </p>
          </div>
        </div>
      </div>
      <div class="sobre-biografia">
        <img class="biografia-img" src="../../static/vit.jpeg" alt="gato" />
        <div class="biografia-box">
          <div class="biografia-header">
            <div class="biografia-nome">
              <h1 style="margin-left: 4%; color: white">Vitor Ehrig</h1>
            </div>
            <div class="biografia-links">
              <div>
                <a style="color:white"href="">
                  <ion-icon style="color: white;width:48px; height:48px" name="logo-github"></ion-icon></a>
              </div>
              <div>
                <a href=""
                  ><ion-icon style="color: white;width:48px; height:48px" name="logo-twitter"></ion-icon></a>
              </div>
              <div>
              </div>
              <div>
              </div>
              <div>
              </div>
            </div>
          </div>
          <div style="height: 3%"></div>
          <div class="biografia-texto">
            <p>
              Vitor é um developer front-end que visa os detalhes do projeto e a manter as coisas organizadas.
 Sempre que possível ele aponta ideias e designs possíveis e as põe em jogo.
Gosta de ouvir um ótimo eurobeat 80 's.
Caso queira entrar em contato, Vitor.Ehrig@gmail.com

            </p>
          </div>
        </div>
      </div>
      <div class="space"></div>
      <div class="space"></div>
      
      <div class="space"></div>
      <!-- Biografias -->
    </div>
  </div>
</div>
<!-- Rodapé -->
<nav class="fim">
  <input type="checkbox" id="check" />
  <ul class="fim" style="background-color: #222222">
    <li><a href="index.html">Início</a></li>
    <li><a class="active" href="artigos.html">Artigos</a></li>
    <li><a href="#">Tutoriais</a></li>
    <li><a href="#">Fórum</a></li>
    <li><a href="Sobre.html">Sobre</a></li>
  </ul>
</nav>
{% endblock content %}
