{% extends 'index.html' %} {% block title %} Sobre {% endblock title %} {% block
content %}
<header>
  <!-- Banner com animação -->
  <div id="slider" class="ban">
    <img class="selected" src="../../static/bn2.jpg" alt="Image1" />
    <img src="../../static/bn4.jpg" alt="Image2" />
    <img src="../../static/bn3.jpg" alt="Image3" />
    <img src="../../static/cabecalho.jpg" alt="Image4" />
  </div>
  >
</header>
<!-- pagina -->
<div class="sob">
  <div class="pagina">
    <h1 style="padding-top: 4%; text-align: center">
      <p
        style="
          font-size: 2.5rem;
          padding-top: 2%;
          padding-bottom: 2%;
          background-color: #00a336;
        "
      >
        Sobre
      </p>
    </h1>
    <div class="area-sobre">
      <div class="space"></div>
      <div class="sobre-site">
        <p>
          O site é uma iniciativa de um projeto para o mundo de TI, onde vai
          englobar tutoriais, artigos, referencias e etc de assuntos de ti em
          geral como programação, hardware, criptomoedas, etc. Haverá um fórum
          para debates de dúvidas. Havera tela de login para usuario padrao,
          onde, o msm podera criar um artigo e enviar quase q um pull request
          para os administradores q, em suma, irão ler este artigo e postar no
          site. Cada artigo postado tera o nome do usuario q postou. Nao somente
          artigos mas tambem questoes em foruns ou tutoriais para as pessoas
          poderão ser postados. A questao de perfis sera amplamente focada, ou
          seja, cada usuario podera customizar o seu proprio perfil e havera um
          sistema de ranking tbm.
        </p>
      </div>
      <!-- Biografias -->
      <div class="space"></div>
      <div class="sobre-biografia">
        <img class="biografia-img" src="../../static/testebio.jpg" alt="gato" />
        <div class="biografia-box">
          <div class="biografia-header">
            <div class="biografia-nome">
              <h1 style="margin-left: 4%">Maria Vitória Machado</h1>
            </div>
            <div class="biografia-links">
              <div>
                <a href=""
                  ><img src="fotos\RedesSociais\github-preto.png" alt=""
                /></a>
              </div>
              <div>
                <a href=""
                  ><img src="fotos\RedesSociais\twitter.png" alt=""
                /></a>
              </div>
              <div>
                <a href=""><img src="fotos\RedesSociais\insta.png" alt="" /></a>
              </div>
              <div>
                <a href=""
                  ><img src="fotos\RedesSociais\patreon.png" alt=""
                /></a>
              </div>
              <div>
                <a href=""
                  ><img src="fotos\RedesSociais\patreon.png" alt=""
                /></a>
              </div>
            </div>
          </div>
          <div style="height: 3%"></div>
          <div class="biografia-texto">
            <p>
              &nbsp;&nbsp;Vitória é a gestora do frontend, onde é encarregada de
              administrar os demais contribuidores e criar o Design das páginas.
            </p>
            <p>
              &nbsp;&nbsp;Especializada tem experiência em Atendimento ao
              cliente e gestão, entre outras distinções do campo. A equipe Cyber
              Zone ajuda estudantes de TI e solucionar Duvidas de software e
              hardware para garantir que todos tenham oportunidade de aprender a
              programar tanto para jovens quanto para adultos.
            </p>
            <p>
              &nbsp;&nbsp;Vitória é uma amante de cafés e gatos, caso queira
              entrar em contato mande um e-mail para vitmachadov@gmail.com ou
              mande uma mensagem no Facebook.
            </p>
          </div>
        </div>
      </div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="sobre-biografia">
        <img class="biografia-img" src="../../static/joao.jpg" alt="gato" />
        <div class="biografia-box">
          <div class="biografia-header">
            <div class="biografia-nome">
              <h1 style="margin-left: 4%">João Vitor Waldrich</h1>
            </div>
            <div class="biografia-links">
              <div>
                <a href=""
                  ><img src="fotos\RedesSociais\github-preto.png" alt=""
                /></a>
              </div>
              <div>
                <a href=""
                  ><img src="fotos\RedesSociais\twitter.png" alt=""
                /></a>
              </div>
              <div>
                <a href=""><img src="fotos\RedesSociais\insta.png" alt="" /></a>
              </div>
              <div>
                <a href=""
                  ><img src="fotos\RedesSociais\patreon.png" alt=""
                /></a>
              </div>
              <div>
                <a href=""
                  ><img src="fotos\RedesSociais\patreon.png" alt=""
                /></a>
              </div>
            </div>
          </div>
          <div style="height: 3%"></div>
          <div class="biografia-texto">
            <p>
              Lorem ipsum dolor sit amet. In reprehenderit voluptatum ut magnam
              neque nam quam voluptatem aut corporis dolor cum consequatur
              eligendi sit quibusdam quas ut autem quae. Est dolore laboriosam
              sed nobis earum sed esse cumque ex porro nulla nam eveniet odit
              aut numquam maxime eos esse ducimus! Id voluptatum perspiciatis
              hic ducimus veniam qui animi architecto ab voluptatum odit eos
              libero voluptate. Sit exercitationem ullam et labore ducimus ea
              dolor possimus qui totam provident est fugit quaerat.
            </p>
            <p>
              Et libero itaque et beatae velit hic fuga porro sit itaque alias
              id quia reiciendis qui nulla facilis. Et iste ratione eum esse
              temporibus rem voluptatem eligendi! Est optio perspiciatis rem
              quos nihil in omnis odio aut obcaecati quia non ducimus nulla id
              molestiae deserunt? Est necessitatibus molestias est tenetur sint
              non aliquid enim.
            </p>
          </div>
        </div>
      </div>
      <div class="space"></div>
      <!-- Biografias -->
    </div>
  </div>
</div>
<!-- Rodapé -->
<nav class="fim">
  <input type="checkbox" id="check" />
  <ul class="fim" style="background-color: #222222">
    <li><a href="index.html">Início</a></li>
    <li><a class="active" href="artigos.html">Artigos</a></li>
    <li><a href="#">Tutoriais</a></li>
    <li><a href="#">Fórum</a></li>
    <li><a href="Sobre.html">Sobre</a></li>
  </ul>
</nav>
{% endblock content %}
