{% extends 'home.html'%} {% block title %} Artigos {% endblock title %} 
{% block content %}
<!-- background de Artigos -->
{% if user.is_authenticated %}
<div
          style="justify-content: center;width: 100%; padding: 3%"
          class="btn-group"
          role="group"
          aria-label="Basic example"
        >
          <a
            style="width: 100%; background-color: #242847; border:#242847"
            href="{% url 'novo_artigo' %}"
            type="button"
            class="btn btn-success btn-lg"
            ><ion-icon style="background-color:#242847"name="add-outline"></ion-icon> Novo Artigo </a
          >
        </div>
{% endif %}
<div class="user-artigos-content">
  {% for post in object_list %}
  <a href="{{post.get_absolute_url}}"
   style="
    text-decoration: none; 
    margin: 1%;"
  >
    <div
      class="card"
      style="
        width: 23rem;
        margin: 1.5%;
        padding-color:transparent;
        border-color: transparent;
        {% if user.id == post.author.id %}background: transparent;{% else %}background-color: rgb(26, 25, 25);{% endif %}
        transition-duration: 0.5s;"
    >
    <img
      class="card-img-top"
      style="
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
        width: 100%;
        height: 16rem;
        object-fit: cover;"
      src="../../../media/{{post.background}}"
      alt="Card image cap"
    />
    <div style="
      height:600px;
      padding: 5%;
      {% if user.id == post.author.id %}background-color: #3b3a50;{% else %}background-color: #1c1b29;{% endif %}"class="card-body">
      <h4 style="color: #fff; background: transparent" class="card-title">{{post.title}}</h4>
      <p style="color: grey; background: transparent;" class="card-text">{{post.summary}}</p>
    </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock content %}
