{% extends 'index.html'%} 
{% block title %} Artigos {% endblock title %} 
{% block content %}
<!-- background de Artigos -->
{% for post in object_list %}
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div
      class="card"
      style="
        width: 23rem;
        background-color: #1c1b29;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
        transition-duration: 0.5s;
      "
    >
      <img
        class="card-img-top"
        src="../../../media/{{post.background}}"
        alt="Card image cap"
      />
      <div class="card-body">
        <h4 style="color: #fff" class="card-title">{{post.title}}</h4>
        <p style="color: grey" class="card-text"> {{post.summary}}</p>
        <a href='{{post.get_absolute_url}} ' type="button" class="btn btn-success">Ler Artigo</a>
      </div>
    </div>
  </div>
</div>
{% endfor %} 
{% endblock content %}
