{% extends 'home.html' %}
{% block title %} Fórum {% endblock title %}
{% block content %}
    <section>
        <table style="padding: 5%;" border="0%" width="100%" cellpadding="10" style="background: #363636; border-radius: 10px;"> <!-- Criando as divisões -->
            <tr>
                <td class="art" width="100%" valign="top" style="background-color: #363636;">
                    <h1 style="background-color: #00a336; text-align: center; padding-top: 2%; padding-bottom: 2%;">Fórum</h1> <!-- Titulo da table -->
                    <div class="pergunta-forum">
                        <div class="pergunta-header-forum">
                            <img class="art-img" src="../../static/testebio.jpg">
                            <h3 class="pergunta-nome-forum">Maria Vitória</h3>
                        </div>
                        <div class="pergunta-titulo-forum">
                            <h4>Como liga o pc?</h4>
                        </div>
                        <div class="pergunta-txt-forum">
                            <h3>Eu to com um problema, eu to a meia hora olhando p pc e nada acontece, ele não era p ligar sozinho?</h3>
                            <div class="art">
                                <a href="resposta.html"><button>Mais</button></a>
                            </div>
                            <p class="lineBreak"></p>
                        </div>
                    </div>
                    <div class="pergunta-forum">
                        <div class="pergunta-header-forum">
                            <img class="art-img" src="../../static/testebio.jpg">
                            <h3 class="pergunta-nome-forum">Maria Vitória</h3>
                        </div>
                        <div class="pergunta-titulo-forum">
                            <h4>Como liga o pc?</h4>
                        </div>
                        <div class="pergunta-txt-forum">
                            <h3>Eu to com um problema, eu to a meia hora olhando p pc e nada acontece, ele não era p ligar sozinho?</h3>
                            <div class="art">
                                <a href="#"><button>Mais</button></a>
                            </div>
                            <p class="lineBreak"></p>
                        </div>
                    </div>
                    <div class="pergunta-forum">
                        <div class="pergunta-header-forum">
                            <img class="art-img" src="../../static/testebio.jpg">
                            <h3 class="pergunta-nome-forum">Maria Vitória</h3>
                        </div>
                        <div class="pergunta-titulo-forum">
                            <h4>Como liga o pc?</h4>
                        </div>
                        <div class="pergunta-txt-forum">
                            <h3>Eu to com um problema, eu to a meia hora olhando p pc e nada acontece, ele não era p ligar sozinho?</h3>
                            <div class="art">
                                <a href="#"><button>Mais</button></a>
                            </div>
                            <p class="lineBreak"></p>
                        </div>
                    </div>
                    <div class="pergunta-forum">
                        <div class="pergunta-header-forum">
                            <img class="art-img" src="../../static/testebio.jpg">
                            <h3 class="pergunta-nome-forum">Maria Vitória</h3>
                        </div>
                        <div class="pergunta-titulo-forum">
                            <h4>Como liga o pc?</h4>
                        </div>
                        <div class="pergunta-txt-forum">
                            <h3>Eu to com um problema, eu to a meia hora olhando p pc e nada acontece, ele não era p ligar sozinho?</h3>
                            <div class="art">
                                <a href="#"><button>Mais</button></a>
                            </div>
                            <p class="lineBreak"></p>
                        </div>
                    </div>
                    <div class="pergunta-forum">
                        <div class="pergunta-header-forum">
                            <img class="art-img" src="../../static/testebio.jpg">
                            <h3 class="pergunta-nome-forum">Maria Vitória</h3>
                        </div>
                        <div class="pergunta-titulo-forum">
                            <h4>Como liga o pc?</h4>
                        </div>
                        <div class="pergunta-txt-forum">
                            <h3>Eu to com um problema, eu to a meia hora olhando p pc e nada acontece, ele não era p ligar sozinho?</h3>
                            <div class="art">
                                <a href="#"><button>Mais</button></a>
                            </div>
                            <p class="lineBreak"></p>
                        </div>
                    </div>
                    <div class="pergunta-forum">
                        <div class="pergunta-header-forum">
                            <img class="art-img" src="../../static/testebio.jpg">
                            <h3 class="pergunta-nome-forum">Maria Vitória</h3>
                        </div>
                        <div class="pergunta-titulo-forum">
                            <h4>Como liga o pc?</h4>
                        </div>
                        <div class="pergunta-txt-forum">
                            <h3>Eu to com um problema, eu to a meia hora olhando p pc e nada acontece, ele não era p ligar sozinho?</h3>
                            <div class="art">
                                <a href="#"><button>Mais</button></a>
                            </div>
                            <p class="lineBreak"></p>
                        </div>
                    </div>
                    <div class="pergunta-forum">
                        <div class="pergunta-header-forum">
                            <img class="art-img" src="../../static/testebio.jpg">
                            <h3 class="pergunta-nome-forum">Maria Vitória</h3>
                        </div>
                        <div class="pergunta-titulo-forum">
                            <h4>Como liga o pc?</h4>
                        </div>
                        <div class="pergunta-txt-forum">
                            <h3>Eu to com um problema, eu to a meia hora olhando p pc e nada acontece, ele não era p ligar sozinho?</h3>
                            <div class="art">
                                <a href="#"><button>Mais</button></a>
                            </div>
                            <p class="lineBreak"></p>
                        </div>
                    </div>
                    <div class="pergunta-forum">
                        <div class="pergunta-header-forum">
                            <img class="art-img" src="../../static/testebio.jpg">
                            <h3 class="pergunta-nome-forum">Maria Vitória</h3>
                        </div>
                        <div class="pergunta-titulo-forum">
                            <h4>Como liga o pc?</h4>
                        </div>
                        <div class="pergunta-txt-forum">
                            <h3>Eu to com um problema, eu to a meia hora olhando p pc e nada acontece, ele não era p ligar sozinho?</h3>
                            <div class="art">
                                <a href="#"><button>Mais</button></a>
                            </div>
                            <p class="lineBreak"></p>
                        </div>
                    </div>
                    <div class="pergunta-forum">
                        <div class="pergunta-header-forum">
                            <img class="art-img" src="../../static/testebio.jpg">
                            <h3 class="pergunta-nome-forum">Maria Vitória</h3>
                        </div>
                        <div class="pergunta-titulo-forum">
                            <h4>Como liga o pc?</h4>
                        </div>
                        <div class="pergunta-txt-forum">
                            <h3>Eu to com um problema, eu to a meia hora olhando p pc e nada acontece, ele não era p ligar sozinho?</h3>
                            <div class="art">
                                <a href="#"><button>Mais</button></a>
                            </div>
                            <p class="lineBreak"></p>
                        </div>
                    </div>
                    <div class="pergunta-forum">
                        <div class="pergunta-header-forum">
                            <img class="art-img" src="../../static/testebio.jpg">
                            <h3 class="pergunta-nome-forum">Maria Vitória</h3>
                        </div>
                        <div class="pergunta-titulo-forum">
                            <h4>Como liga o pc?</h4>
                        </div>
                        <div class="pergunta-txt-forum">
                            <h3>Eu to com um problema, eu to a meia hora olhando p pc e nada acontece, ele não era p ligar sozinho?</h3>
                            <div class="art">
                                <a href="#"><button>Mais</button></a>
                            </div>
                            <p class="lineBreak"></p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </section>
<script src="script.js"></script>	
{% endblock content %}