{% extends 'index.html' %} {% block title %} CyberZone {% endblock title %}
{% block content %}
<div>
  <div id="slider" class="ban">
    <img class="selected" src="../../static/bn2.jpg" alt="Image1" />
    <img src="../../static/bn4.jpg" alt="Image2" />
    <img src="../../static/bn3.jpg" alt="Image3" />
    <img src="../../static/cabecalho.jpg" alt="Image4" />
  </div>
</div>
<section class="sessao-cursos">
  <div class="section-header">
    <h1>Cursos</h1>
  </div>
  <div class="cursos">
    <div class="curso">
      <div class="curso-header">
        <i class="fab fa-python"></i>
        <h3>Python</h3>
      </div>
    </div>
    <div style="color: grey" class="curso-text">
      <p>
        Você vai criar programas usando a última versão do Python e vai se
        preparar para usá-lo na web com frameworks como Django ou ainda dar seus
        primeiros passos para chegar à Data Science e Machine Learning. Saiba
        como começar com Python.
      </p>
    </div>
  </div>
  <div class="cursos">
    <div class="curso">
      <div class="curso-header">
        <i class="fab fa-html5"></i>
        <h3>HTML e CSS</h3>
      </div>
    </div>
    <div style="color: grey" class="curso-text">
      <p>
        HTML e CSS da maneira certa e usando boas práticas da web, estruturando
        seu código para legibilidade e layouts verdadeiramente interessantes,
        com uso de bibliotecas e ferramentas. Sites responsivos, bootstrap,
        devtools, flexbox são assuntos importantes cobertos pelos cursos. Saiba
        como começar com HTML e CSS.
      </p>
    </div>
  </div>
  <div class="cursos">
    <div class="curso">
      <div class="curso-header">
        <i class="fab fa-js"></i>
        <h3>JavaScript</h3>
      </div>
    </div>
    <div style="color: grey" class="curso-text">
      <p>
        Aprenda tudo o que precisa para entrar ou se desenvolver na área que
        mais tem demanda por novos profissionais. Vá do zero ao profissional nas
        linguagens, frameworks, ferramentas e metodologias mais utilizadas no
        mercado atual.
      </p>
    </div>
  </div>
</section>

<section class="sessao-artigos">
  <div class="al-atigos">
    <div class="section-header2">
      <h1>Artigos</h1>
    </div>
    <div class="espaço-artigos">
      <div class="area-artigos">
        <div
          class="card"
          style="
            width: 23rem;
            background-color: #1c1b29;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
            transition-duration: 0.5s;
          "
        >
          <img
            class="card-img-top"
            src="static/tes2.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h4 style="color: #fff" class="card-title">Card title</h4>
            <p style="color: grey" class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.jk,ashdj,masbhdkjash
              jkdhaskjdhaskuhdkuashdkuash ukdhaskhdaskujhdakushdkuas\
              asjdailsjdilasjdilasjdilasjdilasjildjasikl dkah sdkuhask
              sakildjaslikjdailjsdiloasj
            </p>
            <a type="button" class="btn btn-success">Ler Artigo</a>
          </div>
        </div>
        
        <div
          class="card"
          style="
            width: 23rem;
            background-color: #1c1b29;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
            transition-duration: 0.5s;

          "
        >
          <img
            class="card-img-top"
            src="static/tes2.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h4 style="color: #fff" class="card-title">Card title</h4>
            <p style="color: grey" class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.jk,ashdj,masbhdkjash
              jkdhaskjdhaskuhdkuashdkuash ukdhaskhdaskujhdakushdkuas\
              asjdailsjdilasjdilasjdilasjdilasjildjasikl dkah sdkuhask
              sakildjaslikjdailjsdiloasj
            </p>
            <a type="button" class="btn btn-success">Ler Artigo</a>
          </div>
        </div>
        <div
          class="card"
          style="
            width: 23rem;
            background-color: #1c1b29;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
            transition-duration: 0.5s;

          "
        >
          <img
            class="card-img-top"
            src="static/tes2.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h4 style="color: #fff" class="card-title">Card title</h4>
            <p style="color: grey" class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.jk,ashdj,masbhdkjash
              jkdhaskjdhaskuhdkuashdkuash ukdhaskhdaskujhdakushdkuas\
              asjdailsjdilasjdilasjdilasjdilasjildjasikl dkah sdkuhask
              sakildjaslikjdailjsdiloasj
            </p>
            <a type="button" class="btn btn-success">Ler Artigo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sessao-forum">
  <div class="al-forum">
    <div class="forum-header">
      <h1>Fórum</h1>
    </div>
    <div class="card text-white bg-success mb-3" style="max-width: 100%">
      <div class="card-body-f">
        <h3 class="card-title-f">Titulo</h3>
        <p class="card-text-banana">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
