{% extends 'home.html' %}
{% block content %}
<body style='background-color: rgb(17, 17, 17);'>
            
                <div class="forum-header">
                    <h1 class="font-weight-bold mt-3">Criar Artigo</h1>
                    </div>
                    <div class="containe">
                <div class="banana">
                    <form class="sign-in-form" method="post" action='' enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.media}}
                        {{form.as_p}}
                        
                        <button class="btn btn-success" type="submit">Confirmar</button>
                    </form>
                    
            </div>
            </div>
{% endblock content %}