{% extends 'index.html' %} {% block title %} {{post.title}} {% endblock title %}
{% block content %}
<img src="../../media/{{post.background}}" class="card-img-top" alt="..." />
<div class="card-body">
  <h1 style="color: white" class="card-title">{{post.title}}</h1>
  <p style="color: grey" class="card-text">{{post.content|safe}}</p>
  <p class="card-text">
    <small class="text-muted">{{post.author.username}}</small>
  </p>
  {% if user.is_authenticated %}
  {% if user.id == post.author.id %}
    <a href="{{post.get_absolute_url_to_edit}}" type="button" class="btn btn-info">Editar Artigo</a>
    <a href="{{post.get_absolute_url_to_delete}}" type="button" class="btn btn-danger">Deletar Artigo</a>
{% endif %}
  {% endif %}
</div>
{% endblock content %}
