<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Cyber Zone</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="fotos/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="fotos/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="fotos/favicon-16x16.png">
    <link rel="manifest" href="fotos/site.webmanifest">
</head>
<body>
<!-- Barra de navegação -->
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo"><img style="width:4cm; height: 2cm; background-color: #222222; position: absolute;" src="fotos/logo1.png"></label> <!-- Logo -->
        <ul style="background-color: #222222;">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
               <i class="fas fa-bars"></i>
            </label style="padding-bottom: 100px;">
            </br>
            <li><a href="index.html">Início</a></li>
            <li><a class="active" href="artigos.html">Artigos</a></li>
            <li><a href="perfil.html">Perfil</a></li>
            <li><a href="#">Fórum</a></li>
            <li><a href="Sobre.html">Sobre</a></li>
        </ul>
    </nav>
    <!-- background de Artigos -->
    <table style="padding: 5%;" border="0%" width="100%" cellpadding="10" style="background: #363636; border-radius: 10px;"> <!-- Criando as divisões -->
        <tr>
            <article>
                <td class="art" width="100%" valign="top" style="background-color: #363636;">
                <h1 style="background-color: #00a336; text-align: center;">Artigos</h1> <!-- Titulo da table -->
                <div class="art">
                    <!-- Imagem do usuario --><img src="fotos/usuario.jpg"> &nbsp<!-- Nome do usuario --><h2 style=" padding: 2%; background: #363636; float: left;">David Harris</h2>
                    </br> 
                    </br>   
                    </br>  
                    </br>
                    <!-- Titulo do artigo -->
                    <h2 class="art">Introdução aos aceleradores para soluções nativas em cloud</h2>
                    <!-- Subtitulo do Artigo -->
		            <h5 class="art">Acelere da ideia ao design &nbsp;Jan, &nbsp;12, &nbsp;2021</h5>  
			        </br>
                    </br>
                    <!-- Texto do Artigo -->
		            <p> As empresas estão cada vez mais cientes dos benefícios da construção de soluções nativas em cloud e procuram alavancar a tecnologia e as metodologias associadas para criarem e fornecerem rapidamente novas experiências digitais. No entanto, a fim de perceberem os benefícios do desenvolvimento nativo em cloud e entregarem produtos com mais rapidez, companhias devem superar os desafios de manter a governança corporativa e o custo de dar origem a novas habilidades, além de transformar as práticas de desenvolvimento de ponta a ponta.</p>
                    <p>Este artigo fornece uma visão geral dos aprimoramentos de visualização de tecnologia para o recurso Accelerators for Teams no IBM Cloud Pak for Applications, o qual oferece funcionalidades para construir soluções RESTful e orientadas a eventos nativas em cloud. De agora em diante, essas novas ferramentas serão chamadas simplesmente de aceleradores.</p>
                    <a href="post.html"><button>Mais</button></a>
                    <p class="lineBreak"></p>
		            </br>   
                    </br>
                </div>
                <div class="art">
                    <!-- Artigo qualquer sobre programação -->
                    <img src="fotos/usuario.jpg"> &nbsp<h2 style=" padding: 2%; background: #363636; float: left;">Eduardo Harada</h2>
                    </br> 
                    </br>   
                    </br>  
                    </br>
                    <h2 class="art">O que diferencia o uso de Containers e microsserviços?</h2>
                    <h5 class="art">O que são microsserviços e Containers?, &nbsp;Jan, &nbsp;7, &nbsp;2021</h5>  
                    </br>
                    </br>
                    <p> Existem dois conceitos relativamente novos e que têm como objetivo modernizar os processos de uma empresa: microsserviços e Containers. Esses temas chamam cada vez mais atenção das organizações que querem se tornar eficientes. Mas como essas duas tecnologias se relacionam e o que diferencia o uso de cada uma delas?</p>
                    <p>Microsserviços; Esse termo faz referência a uma arquitetura adotada principalmente na criação de aplicações e tem se tornado popular entre os programadores por permitir certa flexibilidade ao desenvolver softwares que antes eram criados de forma monolítica. Ao adotar os microsserviços, cada parte do software não está intimamente conectada, impedindo que uma única falha ou alteração em um ponto do programa cause instabilidade em todo o sistema.</p>
                    <p>Containers; Essa tecnologia está mudando a forma como as operações de TI são realizadas, assim como a virtualização de servidores fez anos atrás. Porém, ao contrário dessa solução que perdura há algum tempo, os Containers são blocos de espaços divididos pelo Docker (principal metodologia de conteinerização) e que compartilham o mesmo sistema operacional.</p>
                    <a href="#"><button>Mais</button></a>
                    <p class="lineBreak"></p>
                    </br>   
                    </br>
                </div>
                <div class="art">
                    <!-- Artigo qualquer sobre programação --><img src="fotos/usuario.jpg"> &nbsp<h2 style=" padding: 2%; background: #363636; float: left;">Equipe TecMundo</h2>
                    </br> 
                    </br>   
                    </br>  
                    </br>
                    <h2 class="art">4 linguagens em crescimento no mercado de Data Science</h2>
		            <h5 class="art">Scala, R, Julia e Python; &nbsp;Dec, &nbsp;17, &nbsp;2020</h5>  
			        </br>
			        </br>
		            <p>Com outros assuntos ligados à tecnologia, Data Science ganhou muita popularidade nos últimos anos. O foco principal dessa área é converter dados em valores significativos, ajudando em um negócio ou na procura de uma solução para determinado problema. Antigamente, somente grandes empresas de TI se arriscavam a desbravar o mundo da ciência de dados; hoje, diversas organizações de vários setores estão envolvidas em atividades relacionadas ao setor. O motivo pode ser variado: desenvolver a área, aumentar a competitividade ou simplesmente resolver uma situação específica.</p>
		            <p>Para aqueles que começam a pesquisar sobre o assunto, uma dúvida pode surgir: qual linguagem de programação utilizar para trabalhar com Data Science? Entre desenvolvedores, esse é um questionamento comum e que vamos tentar responder mostrando as linguagens em crescimento no mercado. Este texto tem o apoio do IBM Blue Profile, uma plataforma que ajuda programadores e outros profissionais de TI a definirem o rumo de suas carreiras. Se você está iniciando seus estudos sobre Data Science, pode visitar o IBM Profile Definer para conhecer mais sobre a ferramenta</p>
                    <a href="#"><button>Mais</button></a>
                    <p class="lineBreak"></p>
		            </br>   
                    </br>
                </div>
                <div class="art">
                    <!-- Artigo qualquer sobre programação --><img src="fotos/usuario.jpg"> &nbsp<h2 style=" padding: 2%; background: #363636; float: left;">Equipe TecMundo</h2>
                    </br> 
                    </br>   
                    </br>  
                    </br>
                    <h2 class="art">O que é Inteligência Artificial e quais são as suas aplicações?</h2>
		            <h5 class="art">Explosão do Big Data, &nbsp;Dec, &nbsp;3, &nbsp;2020</h5>  
			        </br>
			        </br>
		            <p>Existem várias definições e uma ampla discussão sobre o conceito de Inteligência Artificial (IA). De modo geral, a tecnologia pode ser descrita como a capacidade de um sistema ou mecanismo de simular a inteligência humana. A IBM tem um grande histórico de trabalhar com IA. Um dos casos mais antigos e famosos da empresa foi a partida de xadrez entre o consagrado campeão mundial, em 1997, e o software Deep Blue. Foi a primeira vez na história que um computador venceu um jogador de nível profissional.</p>
		            <p>Em 2011, outra IA da IBM, o Watson, venceu o programa televiso Jeopardy!, uma competição que fornece as respostas sobre cultura popular, e os participantes têm de acertar qual é a pergunta que seria feita. O software venceu os dois maiores competidores humanos do programa apenas com acesso ao banco de dados offline da Wikipédia.
                    Depois de conseguir esses dois marcos na história da Inteligência Artificial, em 2014 a IBM começou a oferecer alguns serviços para a construção de aplicações cognitivas próximas da humana, como fala e compreensão de texto, entre outras.</p>
                    <a href="#"><button>Mais</button></a>
                    <p class="lineBreak"></p>
		            </br>   
                    </br>
                </div>
                <div class="art">
                    <!-- Artigo qualquer sobre programação --><img src="fotos/usuario.jpg"> &nbsp<h2 style=" padding: 2%; background: #363636; float: left;">Arthur Nuvens</h2>
                    </br> 
                    </br>   
                    </br>  
                    </br>
                    <h2 class="art">Como posso corrigir funções sem servidor?</h2>
		            <h5 class="art">Logs e Metricas, &nbsp;Oct, &nbsp;22, &nbsp;2020</h5>  
			        </br>
			        </br>
		            <p>A depuração de aplicativos sem servidor na produção pode ser difícil, já que, neste caso, não há acesso ao ambiente de tempo de execução e à infraestrutura que está executando seu código. Tendo isso em vista, existem algumas ferramentas úteis disponíveis na atualidade e, provavelmente, mais a caminho, pois o espaço continua em amadurecimento:</p>
		            <p>Logs; Os registros gravados em stdout e stderr são enviados para a plataforma, e, geralmente, há uma integração de serviço de registro que os coleta para você. Por exemplo, o IBM Cloud Functions suporta o IBM Log Analysis com serviço LogDNA, que coleta esses logs e permite que você os utilize a fim de ajudar a corrigir problemas.</p>
		            <p>Métricas; Você pode estar interessado em saber informações como status de invocação, quaisquer erros na invocação, horários de início e término de suas ações e horários de cold start de suas ações. Esses tipos de métricas de alto nível, em geral, são integrados de modo automático à sua plataforma sem servidor. A maioria dos provedores de cloud envia esses dados de métrica para um serviço de monitoramento, no qual você é capaz de configurar painéis para o monitoramento de suas ações. O IBM Cloud Functions envia métricas ao IBM Cloud Monitoring e pode ser visualizado por meio do Grafana. O Grafana permite que você configure painéis, crie alertas com base em valores de eventos de métricas e muito mais.</p>
                    <a href="#"><button>Mais</button></a>
                    <p class="lineBreak"></p>
		            </br>   
                    </br>
                </div>
                </td>
            </article>
        </tr>
    </table><!-- Rodapé -->
    <nav class="fim">
        <input type="checkbox" id="check">
		<ul class="fim" style="background-color: #222222;">
			<li><a href="index.html">Início</a></li>
			<li><a class="active" href="artigos.html">Artigos</a></li>
			<li><a href="#">Tutoriais</a></li>
			<li><a href="#">Fórum</a></li>
			<li><a href="Sobre.html">Sobre</a></li>
		</ul>
    </nav>
</body>
</html>
