<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Cyber Zone</title>
  <link rel="stylesheet" type="text/css" href="style1.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body style="padding: 2%">
<div class="card" style="width: 18rem; height: 27rem;">
    <img class="card-img-top" src="fotos/jss.png" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">Domine uma das mais poderosas linguagens de programação do mercado de tecnologia.</h2>
      <a href="#"><button>Mais</button></a>
    </div>
  </div>