<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../../static/login.css" />
    <title>Email Enviado</title>
</head>
<body style='background-color: rgb(17, 17, 17);'>
    <div class="cont">  
        <div class="containe">
            <div class="banana">
                <h1 class="font-weight-bold mt-3">Email Enviado com sucesso</h1>
                <p>Acabamos de enviar um email para o endereço solicitado com as instruções para recuperar sua senha ;)</p>
            </div> 
        </div>
    </div>
</body>
</html>