/*-----Atenção a tabela de cores meus consagrados-----
-- background do body - background-color: rgb(26, 25, 25); 
-- background da segunda tabela - background-color: #363636;
-- cor de texto - color: white;
-- background dos icones - background: #00a336;
-- background dos artigos - background: gray;
*/

* {
	padding: 0;
    margin: 0;
    background-color: rgb(26, 25, 25);
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

h1 {
    color: white;
}

p {
	padding-left: 2%;
	padding-right: 2%;
	color: white;
}

h3 {
	color: white;
}

h2 {
	color: white;
	padding: 2%;
}

.pesquisa {
    border-radius: 20%;
}

body {
	font-family: montserrat;
}

/*_____________navbar_____________________________*/
nav {
	background: #222222;
	height: 100px;
	width: 100%;
}
nav img{
	top: 1%;
}
label.logo {
	background-color: #222222;
	line-height: 80px;
	padding: 0 100px;
}
nav ul {
	float: right;
}
nav ul li {
	background-color: #222222;
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a {
	background-color: #222222;
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}
a.active, a:hover {
	background: #00a336;
	transition: .5s;
}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
@media all{
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}

/*_______Adaptação_Mobile___________*/

@media all{
	.checkbtn {
		background-color: #222222;
		display: block;
	}
	ul{
		padding-top: 10px;
		background-color: #222222;
		position: fixed;
		width: 22.5rem;
		height: 100vh;
		background:  #017e2b;
		right: -100%;
		text-align: center;
		transition: all .5s;
	}

    .checkbtn ul {
		background-color: #222222;
		display: block;
	}

	nav ul li{
		background-color: #222222;
		display: block;
		margin: 70px 0;
		line-height: 30px;
		float: center;
	}
	nav ul li a {
		background-color: #222222;
		font-size: 20px;
	}
	a:hover, a.active {
		background-color: #222222;
		color:  #00a336;
	}
	#check:checked ~ ul {
		background-color: #222222;
		right: 0;
	}
}

/*___________________________________________*/

/*____Formatando_o_Banner______*/
.ban-body {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

#slider {
    width: 100%;
    height: 30vw;

    position: relative;
}

#slider img{
    opacity: 0;

    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: opacity 900ms;
}

#slider img.selected { 
    opacity: 4;
    width: 100%;
}
/*_________Cursos___________*/
.section-header:nth-child(1){
	grid-column: 8;
}

.section-header h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3rem;
	border-bottom: 3px solid #017e2b;
	padding-bottom: 1rem;
	padding-top: 3rem;
	text-align: center;
}

.curso-header {
	display: flex;
	align-items: center;
	font-size: 1rem;
	color: #fff;
}

.curso-header i{
	font-size: 3rem;
}

.curso-header h3{
	padding-left: 1rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.curso-text {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-top: 1rem;
	padding-bottom: 2rem;
}

.sessao-cursos {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	row-gap: 4rem;
}

.cursos:nth-child(2) {
	grid-column: 3 / 7;
}
.cursos:nth-child(3) {
	grid-column: 11 / 15;

}
.cursos:nth-child(4) {
	grid-column: 7 / 11;

}

/*_________Artigos_page_background__________*/

.art{ 
	background: #363636;
	border-radius: 10px;
}

.art p {
	padding-left: 2%;
	padding-right: 2%;
	color: white;
	background: #363636;
}

.art h1{
	background: #363636;
	border-radius: 10px;
	/*margin: 2%;*/
}

.art h2 h3 h5 h6 {
	color: #d6d6d6;
	padding-left: 2%; 
	padding-top: 2%; 
	background: #363636;
}

.art h5 {
	color: #d6d6d6; 
	padding-right: 4%; 
	padding-top: 1%;
	padding-left: 2%;
}

.art h4 {
	color: #d6d6d6; 
	padding-right: 4%; 
	padding-top: 1%;
	padding-left: 2%;
	background: #363636;
	float: right;
}

.art img {
	background-color: #363636;
	padding: 1%;
	border-radius: 50%;
	width: 90px;
	float: left;
}

.lineBreak {
    border: 1px solid #f0f0f0;
	display: inline-block;
	margin: 2%;
	width: 95%;

}

/*___________Postagem_de_Artigos______________*/

.posta {
	background-color: #00a336; 
	text-align: center;
	padding: 2%;
}

.pe {
	padding-left: 2%;
	padding-right: 2%;
	color: white;
	font-size: 150%;
}

.img-arte {
	width: 100%;
    height: 100%;
	overflow: hidden;
	border-radius: 0%;
	margin-bottom: 0px;
}

/*_______botão__________*/

button {
	float: right;
	margin-right: 2%;
    color: #ffffff;
    font-family: Mulish;
    border-radius: 3px;
    background: -webkit-linear-gradient(to bottom, #414345, #232526); 
    background: linear-gradient(to bottom, #414345, #232526); 
    padding-top: .7rem; 
    padding-bottom: .7rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    animation: moveBanner 3s;
}
button span {
	transition: all 0.3s;
}
button::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
button:hover span {
	letter-spacing: 2px;
}
button:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
button::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
button:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}



/*___________Sobre___________*/
.sob {
	background-color: rgb(26, 25, 25);
}

.sob div {
	background-color: rgb(26, 25, 25);
}

.pagina {
	height: auto;
	width: auto;
}

.area-sobre {
	width: auto;
	min-height: 20px;
	padding: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.space {
	height: 30px;
}

.sobre-site {
	min-height: 20px;
	display: flex;
	align-items: center;
	font-size: 145%;
}

.sobre-biografia {
	flex-direction: row	;
	justify-content: center;
	display: flex;
	min-height: 20px;
	width: 80%;
}

.biografia-img {
	object-fit: cover;

	width: 17%;
	height: 17%;
	padding: 0%;
	border: 2px solid #00501b;
	border-radius: 50%;
}

.biografia-box{
	width: min-content;
	display: flex;
	flex-direction: column;
}

.biografia-header {
	display: flex;
	flex-direction: row;
	width: auto;
	height: 27%;
}

.biografia-nome {
	display: flex;
	width: 70%;
}

.biografia-links {
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-around;
	display: flex;
	width: 30%;
	height: auto;
}

.biografia-links div {
	width: 14%;
	height: 100%;
}

.biografia-links img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.biografia-texto {
	flex-direction: column;
	text-align: left;
	display: flex;
	width: 57em;
	height: min-content;
	font-size: 115%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-top: 2px solid #00501b;
	border-bottom: 2px solid #00501b;
	border-radius: 0%;
}
/* ________Biografia-Mobile__________ */
@media (max-width: 1024px){

	.space {
		height: 0px;
	}
	
	.sobre-biografia {
		padding-top: 20px;
		flex-direction: column;
		justify-content: center;
		display: flex;
	}

	.biografia-img {
		object-fit: cover;

		width: 75%;
		height: 75%;
		padding: 0%;
		border: 2px solid #00501b;
		border-radius: 50%;
	}

	.biografia-box{
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.biografia-header {
		padding-top: 2%;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
	}

	.biografia-nome {
		display: flex;
		width: auto;
	}

	.biografia-links {
		flex-direction: row-reverse;
		align-items: center;
		display: flex;
		width: 100%;
		padding-top: 4%;
		padding-bottom: 4%;
	}

	.biografia-links div {
		width: 14%;
		height: 100%;
	}

	.biografia-links img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	.biografia-texto {
		flex-direction: column;
		text-align: left;
		display: flex;
		width: 100%;
		height: min-content;
		font-size: 140%;
		padding-top: 1%;
		padding-bottom: 1%;
		border-top: 2px solid #00501b;
		border-bottom: 2px solid #00501b;
	}
}


/*____footer_____*/
.fim {
	background: #222222;
	height: 80px;
	width: 100%;
}

.fim ul {
	text-align: center;
	margin-right: 20px;
}
.fim ul li {
	background-color: #222222;
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
.fim ul li a {
	background-color: #222222;
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}
