.cursos {
    align-items: center;
    background-color: rgb(26, 25, 25);
    display: flex;
}

.card {
    position: center;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
}

.card-img-top {
    border-radius: 10px;
    
}

.card-body{
    background-color: gray;
    padding: 5%;
    margin: 2%;
}

.card-title {
    background-color: gray;
    color: #fff;
    font-family: Arial;
    padding: 2%;
}

.card-text {
    background-color: gray;
    color: #fff;
    font-family: Arial;
}