{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Cyber Zone</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png'%}">
    <link rel="manifest" href="fotos/site.webmanifest">
</head>
<body>
    <!-- Barra de navegação -->
    <header>
        <nav>
		    <input type="checkbox" id="check">
		    <label for="check" class="checkbtn">
			    <i class="fas fa-bars"></i>
		    </label>
		    <label class="logo"><img style="width:4cm; height: 2cm; background-color: #222222; position: absolute;" src="{% static 'logo1.png'%}"></label> <!-- Logo -->
		        <ul style="background-color: #222222;">
			    <input type="checkbox" id="check">
		        <label for="check" class="checkbtn">
			        <i class="fas fa-bars"></i>
			    </label style="padding-bottom: 100px;">
		        </br>
			    <li><a class="active" href="index.html">Início</a></li>
			    <li><a href="artigos.html">Artigos</a></li>
			    <li><a href="perfil.html">Perfil</a></li>
			    <li><a href="#">Fórum</a></li>
			    <li><a href="Sobre.html">Sobre</a></li>
		    </ul>
        </nav>
      </header>  
<div>
    <div id="slider" class="ban"> 
           <img class="selected" src="{% static 'bn2.jpg'%}" alt="Image1">
           <img src="{% static 'bn4.jpg'%}" alt="Image2">
           <img src="{% static 'bn3.jpg'%}" alt="Image3">
           <img src="{% static 'cabecalho.jpg'%}" alt="Image4">
	</div>
</div>
	<section class="sessao-cursos">
		<div class="section-header">
			<h1>Cursos</h1>
		</div>
		<div class="cursos">
			<div class="curso">
				<div class="curso-header">
					<i class="fab fa-python"></i>
					<h3>Python</h3>
				</div>
			</div>
			<div class="curso-text">
				<p>Você vai criar programas usando a última versão do Python e vai se preparar para usá-lo na web com frameworks como Django ou ainda dar seus primeiros passos para chegar à Data Science e Machine Learning. Saiba como começar com Python.</p>
			</div>
		</div>
		<div class="cursos">
			<div class="curso">
				<div class="curso-header">
					<i class="fab fa-html5"></i>
					<h3>HTML e CSS</h3>
				</div>
			</div>
			<div class="curso-text">
				<p>HTML e CSS da maneira certa e usando boas práticas da web, estruturando seu código para legibilidade e layouts verdadeiramente interessantes, com uso de bibliotecas e ferramentas. Sites responsivos, bootstrap, devtools, flexbox são assuntos importantes cobertos pelos cursos. Saiba como começar com HTML e CSS.</p>
			</div>
		</div>
		<div class="cursos">
			<div class="curso">
				<div class="curso-header">
					<i class="fab fa-js"></i>
					<h3>JavaScript</h3>
				</div>
			</div>
			<div class="curso-text">
				<p>Aprenda tudo o que precisa para entrar ou se desenvolver na área que mais tem demanda por novos profissionais. Vá do zero ao profissional nas linguagens, frameworks, ferramentas e metodologias mais utilizadas no mercado atual.</p>
			</div>
		</div>
	</section>
	
	<section class="sessao-artigos">
		<div class="section-header">
			<h1>Artigos</h1>
		</div>
	</section>
		
		<script src="script.js"></script>	