{% extends "base.html"%}
{% block content %}
	<header> <!-- Banner com animação -->
		<div class="img-wrapper">
			<img src="/static/background.png">
		</div>
	</header>
	
	<table border="0" width="100%" cellpadding="10"> <!-- Criando as divisões -->
	<tr>
		<td width="70%" valign="top" background-color="#111">
			<h2 style="text-align: center; padding-top: 2%;">Tutoriais</h2>
			</br>
			</br>
			</br>
			</br>
			<div class="cursos"> <!-- Cursos -->
			<a href="#"><img src="/static/python.png"></a>
			<a href="#"><img src="/static/html.png"></a>
			<a href="#"><img src="/static/python.png"></a>
			<a href="#"><img src="/static/html.png"><p style="color: #222222;"></p></a>
			</div>
			</br>
			</br>
			</br>
			</br>
			</br>
			<!-- Fórum -->
			<h1 style="text-align: center;"><p style="font-size: 2.5rem;  background-color: #00a336;">Fórum</p></h1>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			<!-- Artigo qualquer sobre programação -->
			<h2 style=" padding-left: 2%;">Programming</h2>
			<h5 style="color: DimGray; padding-left: 2%;">What is programming?, &nbsp;Dec 8, &nbsp;2020</h5>  
			</br>
			</br>
			<p>Generally, programming is the process of writing, testing, and maintaining computer programs. These programs, in turn, consist of sets of instructions defined by the programmer that describe the tasks that the machine must perform, and that serve various purposes.</p>
			<p>The advent of programming is directly linked to the history of computers. The first programmer was a woman named Ada Lovelace, who wrote code to enable the use of Charles Babbage's analysis machine, a robust machine that was difficult to communicate, and is considered the forerunner of modern electronics. computers.</p>
			<p>Programming and calculation: Image of Charles Babbage's analysis machine, a metal computer.
			Differential machine, or analysis machine - created by Charles Babbage (1791 - 1871) A year later, computers became easier to use, and programming gained more and more space in the creation of these technologies. But to truly understand what it is all about, it is important to know two fundamental elements that make up all modern computers, namely hardware and software. </p>
			</br>   
			</br>       	
		</td>
		<!-- Artigos -->
			<td width="30%" valign="top" style="background-color: #363636; border-radius: 10px;">
				<h2 style="background: #363636; text-align: center;">Artigos</h2>
				<!-- Favor terminar essa parte -->
				<ul>
					{% for post in blog.object_list %}
						<li>
							<img src=/media/{{post.background}}>
							<br>
							{{ post.title }}
							<br>
							{{ post.content | safe}}
							<br>
							{{ post.author}}
							<br><hr>
						</li>    
					{% endfor %}
				</ul>
	</table>
	<!-- Rodapé -->
	<nav class="fim">
		<input type="checkbox" id="check">
		<ul class="fim" style="background-color: #222222;">
			<li><a href="index.html">Início</a></li>
			<li><a class="active" href="/blog">Artigos</a></li>
			<li><a href="#">Tutoriais</a></li>
			<li><a href="#">Fórum</a></li>
			<li><a href="#">Sobre</a></li>
		</ul>
	</nav>
{% endblock content %}
