<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
	    <title>CyberZone</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" type="text/css" href="/static/style.css">
	    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <nav>
			<input type="checkbox" id="check">
			<label for="check" class="checkbtn">
				<i class="fas fa-bars"></i>
			</label>
			<label class="logo"><img style="width:4cm; height: 2cm; background-color: #222222;" src="/static/logo1.png"></label> <!-- Logo -->
			<ul style="background-color: #222222; align-items: center;">
				<li><a href=..>Início</a></li>
				<li><a href="../blog">Artigos</a></li>
				<li><a href="../forum">Fórum</a></li>
				<li><a href="../about">Sobre</a></li>
				<li><a href=../user/home><b>{{ user.username|default:'Guest' }}</b></a>
				<li><a href="../admin">Admin</a></li>
			</ul>
		</nav>
		{% block content%}
		
		{% endblock content %}
    </body>
</html>